
.buscador-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 6rem;
    padding: 2rem 1rem;
}

.buscador-content button {
    border-radius: 0px 5px 5px 0px;
}

.filtro {

    margin-left: 3rem;
}

.card {
    background-color: #c4d5c4;
    background: linear-gradient(#c4d5c4,  #c7ecd8);
    box-shadow: 0 2px 6px 0px hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    border: 0;
    overflow: hidden;
    position: relative;
}

.card h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;

}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;

}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
    background-image: url("../img/plantilla/aztec.svg");
    
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.card .additional .coords {
    margin: 0 2rem;
    color: #fff;
    font-size: 1rem;
}

.card .additional .coords span + span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}



.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}