/*========================
Eventos
========================*/

:root {
	--amarillo2: #f7a541;
	--primary: #c3b395;
	--light: #eeeeee;
	--dark: #212121;
	--red: #eb3127;
	--cafe_claro: #5a3f30;
	--dark_fuente_hover: #252627;
	--dark_fuente: #474747;
	--blanco: #f8f5fe;
	--gris: #74747474;
	--gris2: #8c8377;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;

}

p.numero {
	font-size: 50px;
	display: block;
	margin: 0 0 10px 0;
	font-family: 'Dosis', sans-serif;
}

/** Globales **/
.contenedor {
	width: 98%;
	margin: 0 auto;
	
}

.seccion {
	padding: 30px 0;
}

.seccion p {
	font-size: 1.2em;
	text-align: center;
}

.seccion h1 {
	text-align: center;
	line-height: normal;
	margin: 20px 0px;
	font-family: "Dosis", sans-serif;
}

.seccion h1:after {
	position: relative;
	content: "";
	top: 100%;
	width: 120px;
	height: 8px;
	display: block;
	margin: 0 auto;

}

.programa-evento h2 {
	font-family: "Dosis", sans-serif;
    font-size: 2.6em;
    text-align: center;
	font-weight: bold;
}

.detalle-evento h3 {
	font-size: 2em;
	margin: 0;
	padding-bottom: 10px;
	font-family: "Dosis", sans-serif;
}

section.programa {
	position: relative;
}

div.contenedor-video {
	max-width: 100%;

	overflow-x: hidden;
}

div.contenido-programa {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

div.programa-evento {
	background-color: rgba(247, 247, 247, 0.836);
	padding: 15px;
	margin-top: 80px;
}

nav.menu-programa {
	width: 100%;
	padding-bottom: 10px;
}

nav.menu-programa a {
	display: block;
	text-align: center;
	color: var(--dark);
	text-decoration: none;
	font-family: "Dosis", sans-serif;
	margin-bottom: 10px;
	font-size: 1.4em;
}

nav.menu-programa a i,
div.detalle-evento p i {
	
	font-size: 1.2em;
	margin-right: 5px;
}

/*-------detalle evento-------*/

div.detalle-evento {
	margin-top: 20px;
	border-bottom: 1px solid var(--dark);
	padding: 0px 20px;
}

div.detalle-evento:nth-child(2) {
	border: none;
}

div.detalle-evento p {
	margin-bottom: 20px;
	font-size: 18px;
}

/*-------------CUENTA REGRESIVA--------------*/

div.cuenta-regresiva ul li{
	text-transform: uppercase;
	font-size: 3rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	line-height: 40px;
	text-align: center;

}

.myBox {
	border: none;
	padding: 5px;
	width: 100%;
	height: 320px;
	/* overflow: scroll; */
	overflow-x: hidden; 
	overflow-y: auto;
}

/* Scrollbar styles */
	::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	}
	
	::-webkit-scrollbar-track {
	/* border: 1px solid; */
	border-radius: 0px 0px 0px;
	}
	
	::-webkit-scrollbar-thumb {
	background:#c3b398;  
	border-radius: 5px;
	}
	
	::-webkit-scrollbar-thumb:hover {
	background: #e73636;  
	}


