
/*-----------PERFIL-----------*/

#perfil figure#img_perfil img{
    width: 50%;
    margin: 10px 0px;
}

.nav_perfil{
    top: -8px;

}

.menu{
    
    margin-top: 8px;
}

.navbar-login
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar-footer-content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-footer-content a{
    margin: 0px 30px;
    text-align: center;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

/* #perfil figure#img_perfil button{
    margin: 0px 20px;
}

#perfil figure#img_perfil button:hover{
    background-color: #d4d4d4;
} */