/*========================
Responsive Configuration
========================*/

/*---- Pantallas Grandes LG >=1366px ----*/

@media (min-width: 1200px) {
	/*--------CABEZOTE---------*/
	/*========================
	Header
	========================*/

	header #cabezote {
		margin-left: 100px;
		margin-right: 100px;
	}

	header #logotipo img {
		padding: 10px 40px;
		padding-left: 0;
	}

	header #btn_categorias span {
		position: absolute;
		top: 5px;
		right: 0px;
		margin: 0px 6px;
		font-size: 20px;
	}

	header #catalogo {
		padding-left: 10px;
		position: relative;
		cursor: pointer;
	}

	header #carrito {
		padding-left: 10px;
	}

	.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}

	header #carrito {
		margin-top: 35px;
	}

	#carrito .fa-shopping-basket {
		font-size: 20px;
	}
	#deseos .fa-heart {
		font-size: 20px;
	}

	header #categorias {
		padding-left: 40px;
	}

	/*------Plantilla-------*/

	.col-lg-0 {
		display: none;
	}

	/* .error_404 h1 {
		font-size: 250px;
		text-shadow: 7px 7px 1px #cfcfcf;
		font-family: Poppins;
		position: relative;
		margin-left: 390px;
	} */

	.error_404 h3 {
		position: relative;
		text-align: center;
	}

	.verificar h3 {
		margin-top: 30px;
		font-size: 60px;
		text-shadow: 4px 4px 1px #dadada;
	}

	.img_error {
		margin-top: 20px;
	}

	/*-------Slides--------*/

	#slide .slide_opciones h1 {
		font-size: 50px;
		margin-top: 10px;
	}

	#slide .slide_opciones h3 {
		font-size: 30px;
	}

	#slide .slide_opciones h4 {
		font-size: 25px;
	}

	#slide .slide_opciones button {
		padding: 10px;
	}

	#slide #siguiente {
		font-size: 18px;
		padding: 15px 10px 15px 15px;
		top: 37%;
		border-radius: 5px;
		margin: 0 10px;
		opacity: 0.7;
	}
	#slide #anterior {
		padding: 15px 15px 15px 10px;
		top: 37%;
		font-size: 18px;
		border-radius: 5px;
		margin: 0 10px;
		opacity: 0.7;
	}

	/*--------productos-----------*/

	.banner {
		height: 260px;
	}

	.banner-gremio {
		height: 460px;
	}

	.banner-gremio {
		position: relative;
		overflow: hidden;
	}

	.text-banner-gremio{
		margin-top: 5rem;
	}

	/*--------DIRECTORIO---------*/

	.list_artesanos{
		margin-left: 4rem;
	}

	.card{
		width: 30.30%;
    	height: 250px;
		margin: 4rem 0rem 0 2.5rem;
	}

}

/*---- Pantallas Medianas MD >=1024px ----*/

@media (max-width: 1199px) and (min-width: 992px) {
	/*--------CABEZOTE---------*/

	/*========================
	Header
	========================*/
	header #cabezote {
		margin-left: 70px;
		margin-right: 70px;
	}

	header #logotipo img {
		padding: 26px 60px;
		padding-left: 0;
	}

	header #carrito {
		padding-left: 10px;
	}

	header #btn_categorias span {
		position: absolute;
		top: 5px;
		right: 0px;
		margin: 0px 6px;
		font-size: 20px;
	}
	header #catalogo {
		padding-left: 10px;
		position: relative;
	}

	header #categorias {
		padding-left: 40px;
	}

	#carrito .fa-shopping-basket {
		font-size: 18px;
	}
	#deseos .fa-heart {
		font-size: 18px;
	}

	/*------Plantilla-------*/

	.col-md-0 {
		display: none;
	}

	.error_404 h1 {
		font-size: 200px;
		text-shadow: 5px 5px 1px #dadada;
		font-family: Poppins;
		position: relative;
		margin-left: 340px;
	}

	.error_404 h3 {
		position: relative;
		margin-left: 375px;
	}

	.verificar h3 {
		margin-top: 30px;
		font-size: 60px;
		text-shadow: 4px 4px 1px #dadada;
	}

	.img_error {
		margin-top: 40px;
		margin-left: 230px;
		position: absolute;
		padding-left: 0;
	}

	/*-------Slides--------*/

	#slide .slide_opciones h1 {
		font-size: 35px;
		margin-top: 10px;
	}

	#slide .slide_opciones h3 {
		font-size: 25px;
	}

	#slide .slide_opciones h4 {
		font-size: 20px;
	}

	#slide .slide_opciones button {
		padding: 10px;
	}

	#slide #siguiente {
		font-size: 14px;
		padding: 15px 10px 15px 15px;
		top: 37%;
		border-radius: 5px;
		margin: 0 10px;
		opacity: 0.7;
	}
	#slide #anterior {
		padding: 15px 15px 15px 10px;
		top: 37%;
		font-size: 14px;
		border-radius: 5px;
		margin: 0 10px;
		opacity: 0.7;
	}

	/*--------productos-----------*/
	.banner {
		height: 260px;
	}

	.list_artesanos{
		margin-left: 2.5rem;
	}

	.item_service {
		text-align: center;
		margin: 10px 10px;
	}

	/*------------ABOUT-------------*/

	.banner-gremio {
		height: 460px;
	}

	.banner-gremio {
		position: relative;
		overflow: hidden;
	}

	/*--------DIRECTORIO---------*/


	.card{
		width: 46%;
    	height: 250px;
		margin: 4rem 0rem 0 2rem;
		
	}
}

/*---- Pantallas pequeÃ±as SM >=768px ----*/

@media (max-width: 991px) and (min-width: 768px) {
	/*--------CABEZOTE---------*/

	/*========================
	Header
	========================*/

	header #cabezote {
		margin-left: 50px;
		margin-right: 50px;
	}

	header #logotipo img {
		padding: 20px 0px;
	}

	header #carrito p {
		display: none;
	}
	header #categorias {
		padding-left: 40px;
	}
	header #btn_categorias {
		margin-left: 5px;
	}
	header #catalogo {
		font-size: 12px;
		padding: 3px;
		position: relative;
	}
	header #btn_categorias span {
		position: absolute;
		top: 5px;
		right: 0px;
		margin: 0px 6px;
		font-size: 20px;
	}

	#carrito .fa-shopping-basket {
		font-size: 15px;
	}
	#deseos .fa-heart {
		font-size: 15px;
	}

	#items {
		opacity: 0;
	}

	/*------PERFIL ------*/

	.nav_perfil ul{
		text-align: center;
	}

	.navbar-login img{
		padding-bottom: 10px;
	}

	/*------Plantilla-------*/

	.col-sm-0 {
		display: none;
	}

	.error_404 h1 {
		font-size: 150px;
		text-shadow: 4px 4px 1px #dadada;
		font-family: Poppins;
		position: relative;
		margin-left: 270px;
	}

	.error_404 h3 {
		position: relative;
		margin-left: 260px;
	}

	.verificar h3 {
		margin-top: 30px;
		font-size: 50px;
		text-shadow: 3px 3px 1px #dadada;
	}

	.img_error {
		margin-top: 38px;
		margin-left: 160px;
		position: absolute;
		padding-left: 0;
	}

	/*-------Slides--------*/

	.icono span {
		font-size: 42px;
	}

	.ct-btn-scroll {
		bottom: 40px;
	}

	#slide .slide_opciones h1 {
		font-size: 25px;
		margin-top: 10px;
	}

	#slide .slide_opciones h3 {
		font-size: 20px;
	}

	#slide .slide_opciones h4 {
		font-size: 15px;
	}

	#slide .slide_opciones button {
		padding: 5px 5px;
	}

	#slide #siguiente {
		font-size: 14px;
		padding: 15px 10px 15px 15px;
		top: 37%;
		border-radius: 5px;
		margin: 0 10px;
		opacity: 0.7;
	}
	#slide #anterior {
		padding: 15px 15px 15px 10px;
		top: 37%;
		font-size: 14px;
		border-radius: 5px;
		margin: 0 10px;
		opacity: 0.7;
	}

	/*--------productos-----------*/

	.banner {
		height: 180px;
	}

	.text_banner h1 {
		font-size: 30px;
		line-height: 15px;
	}

	.text_banner h2 {
		font-size: 25px;
		line-height: 15px;
	}

	.text_banner h3 {
		font-size: 25px;
		line-height: 15px;
	}

	.banner .text_der,
	.banner .text_izq,
	.banner .text_center {
		top: 35px;
	}

	.item_service {
		text-align: center;
		margin: 20px 0px;
	}

	/*------------ABOUT-------------*/

	.banner-gremio {
		height: 460px;
	}

	.banner-gremio {
		position: relative;
		overflow: hidden;
	}

	/*--------DIRECTORIO---------*/

	.list_artesanos{
		margin-left: 2rem;
	}

	.card{
		width: 46%;
    	height: 250px;
		margin: 4rem 0rem 0 2rem;
		
	}

	/*-------EVENTOS-------*/
}

/*---- Pantallas moviles XS <768px ----*/

@media (max-width: 767px) {
	/*--------CABEZOTE---------*/

	/*========================
	Top
	========================*/

	header #cabezote {
		margin-left: 30px;
		margin-right: 30px;
	}

	#top ul li {
		text-align: center;
	}

	#top,
	.registro {
		border-bottom: 1px solid var(--dark);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav_perfil ul{
		text-align: center;
	}

	.navbar-login img{
		padding-bottom: 10px;
	}

	.navbar-footer-content{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
	flex-direction: row;
	}

	#contacto {
		display: none;
	}

	/*========================
	Header
	========================*/

	#logotipo {
		display: flex;
		justify-content: center;
	}

	header #logotipo img {
		padding: 30px;
		padding-bottom: 5px;
	}

	header #btn_categorias {
		border-radius: 5px 0px 0px 5px;
	}

	header #btn_categorias span {
		position: absolute;
		top: 2px;
		margin: 0px 6px;
		font-size: 25px;
	}

	#catalogo {
		opacity: 0;
	}

	#favoritos {
		opacity: 0;
	}

	#items {
		opacity: 0;
	}

	header #buscador input {
		border-radius: 0px;
	}

	header #categorias {
		padding-left: 40px;
	}

	#btn_menu {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 999;
		border-radius: 3px;
		background-color: #cabca37c;

	}

	.navbar-toggle{
		text-align: center;
	}

	#menu {
		position: fixed;
		top: 0;
		z-index: 998;
		height: 100%;
		left: 0;
		background: #cabca37c;
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
	}

	.et-hero-tabs-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		background: #cabca37c;
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
	}


	/*------Plantilla--------*/

	.col-xs-0 {
		display: none;
	}

	.error_404 h1 {
		font-size: 100px;
		text-shadow: 2px 2px 1px #dadada;
		font-family: Poppins;
		position: relative;
		text-align: center;
	}

	.error_404 h3 {
		position: relative;
		text-align: center;
	}
	.verificar h3 {
		margin-top: 30px;
		font-size: 30px;
		text-shadow: 2px 2px 1px #dadada;
	}

    .fondoBreadcrumb{
		font-size:12px;
	}

	/*-------Slides--------*/

	.icono span {
		display: none;
	}

	.btn-up-top {
		width: 60px;
		height: 50px;
		font-size: 30px;
	}

	.btn-up-top.active {
		bottom: 60px;
	}

	.icono-up {
		margin-top: 10px;
	}

	.float {
		width: 60px;
		height: 50px;
	}

	.my-float {
		margin-top: 10px;
	}

	#slide .slide_opciones h1 {
		font-size: 13px;
		margin-top: 10px;
		margin-bottom: -10px;
	}

	#slide .slide_opciones h3 {
		display: none;
	}

	#slide .slide_opciones h4 {
		font-size: 10px;
		margin-bottom: -5px;
	}

	#slide .slide_opciones button {
		font-size: 8px;
		padding: 5px 5px;
	}

	#slide #anterior,
	#slide #siguiente {
		display: none;
	}

	#slide #paginacion {
		line-height: 20px;
		font-size: 8px;
	}

	/*--------productos-----------*/

	.banner {
		height: 100px;
	}

	.banner .text_der,
	.banner .text_center,
	.banner .text_izq {
		top: 7px;
		left: 50%;
		width: 800px;
		margin-left: -400px;
		text-align: center;
		text-shadow: 2px 2px 20px black;
	}

	.text_banner h1 {
		font-size: 20px;
		line-height: 5px;
	}

	.text_banner h2 {
		font-size: 20px;
		line-height: 5px;
	}

	.text_banner h3 {
		font-size: 15px;
		line-height: 5px;
	}

	.titulo h1 {
		text-align: center;
		font-size: 2em;
	}

	.titulo button {
		position: absolute;
		left: 50%;
		width: 40%;
		margin-left: -20%;
	}

	.products ul li h1 small {
		font-size: 16px;
	}

	.services_inline_home {
		margin: 20px 0px;
	}
	.item_service {
		text-align: center;
		margin: 15px 0px;
		padding: 10px;
	}

	.item_service .info h2 {
		font-size: 20px;
	}
	.item_service .info p {
		font-size: 14px;
	}

	/*--------EVENTOS---------*/
	.titulo_evento h1 {
		font-size: 2em;
		margin: 30px 0px;
	}

	/*------------ABOUT-------------*/

	.banner-gremio {
		height: 140px;
	}

	.banner-gremio {
		position: relative;
		overflow: hidden;
	}

	/*--------DIRECTORIO---------*/

	.list_artesanos{
		margin-left: 2rem;
	}

	.card{
		width: 80%;
    	height: 250px;
		margin: 4rem 6rem 0 4rem;
		
	}
}

@media (max-width: 368px) {
	.dropdown-menu {
		position: relative;
	}
}

@media only screen and (min-width: 768px) {
	div.programa-evento {
		width: 70%;
	}

	nav.menu-programa {
		display: table;
	}

	nav.menu-programa a {
		display: table-cell;
	}
}

@media only screen and (min-width: 992px) {
	div.programa-evento {
		width: 50%;
	}
}

@media only screen and (min-width: 480px) {
	.contenedor {
		width: 95%;
	}
}
@media only screen and (min-width: 768px) {
	.contenedor {
		width: 90%;
	}
}
@media only screen and (min-width: 992px) {
	.contenedor {
		width: 90%;
		max-width: 1100px;
	}
}

@media only screen and (min-width: 768px) {
	div.cuenta-regresiva ul li {
		width: 25%;
		float: left;
	}
}

/*--------------MENU RESPONSIVE-------------*/

@media only screen and (max-width: 768px) {
	.nav_bar_down {
		flex-direction: column;
	}

	.menu-item {
		display: block;
		width: 100%;
		padding: 5px 0;
		text-align: center;
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 20px;
		right: 5%;
	}

	.menu-icon:hover .bar {
		background-color: darkcyan;
	}
	.nav-menu {
		display: none;
		width: 100%;
	}

	.active {
		display: block;
	}
}
